<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <!-- Importa a fonte Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container-geral">
    <div class="caixa-login">
      <div class="lado-esquerdo">
        <h3>SEGURANÇA DO TRABALHO</h3>
        <h3>SESI SENAI</h3>
      </div>
      <div class="lado-direito">
        <h2>Login</h2>
        <form>
          <label for="email">E-mail:</label>
          <input type="email" id="email" />

          <label for="senha">Senha:</label>
          <input type="password" id="senha" />

          <a href="#">Esqueceu a senha?</a>

          <button type="submit" class="entrar">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
