body{
    font-family: 'Poppins', sans-serif;
}
/* Tela cheia com fundo centralizado */
.container-geral {
  width: 100%;
  height: 100vh;
  background-image: url('/assets/imagens-login/gestodeseguranaesade.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f7;
}

/* Caixa principal */
.caixa-login {
  width: 900px;
  height: 550px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  background-color: #f2f1ef; /* ou branco */
  
}

.lado-esquerdo {
  width: 50%;
  background: #007bff; /* ou a cor institucional */
  color: white;
  display: flex;
  flex-direction: column; /* empilha os elementos */
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  gap: 10px; /* espaço entre os h3 */
}

.lado-esquerdo h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0; /* remove margem padrão */
  font-family: poppins, sans-serif;
}


/* Lado direito */
.lado-direito {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lado-direito h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.lado-direito form {
  display: flex;
  flex-direction: column;
}

.lado-direito input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.lado-direito a {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 20px;
  text-decoration: none;
}

.lado-direito button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.lado-direito button:hover {
  background-color: #0056b3;
}
button.entrar{
  border-radius: 5px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  background-color:  #d92d63;
}

.login {
  display: flex;
  justify-content: center;
}
